.portfolio{
    margin: 0 auto;
    display: grid;
    
    margin: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.portfolio button {
    border: none;
    background-color: transparent;
}
.portfolio img, .portfolio div{
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    
    border: 3px solid rgba(224, 131, 10, 0);
    transition: 0.3s;
}
.portfolio img:hover, .portfolio div:hover{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 3px solid #E0830A;
    border-radius: 16px;

    cursor: pointer;
    transition: 0.3s;
}
.portfolio div{
    background-color: #FEE7C9;

    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio div svg{
    width: 62px;
    height: 62px;
}

/* Modal */
.portifolio-open{
    justify-content: center;
    align-items: center;
}
.portifolio-open div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.portifolio-open img {
    width: 100%;
}
.portifolio-open button {
    background-color: #E0830A;
    border: 1px solid #E0830A;
    border-radius: 5px;

    color: #f3f3f3;
    font-size: 1rem;
    cursor: pointer;

    margin: 20px 0;
    padding: 10px 20px;

    transition: 0.3s;
}
.portifolio-open a{color: #f3f3f3;}
.portifolio-open button:hover{
    filter: brightness(0.9);
    transition: 0.3s;
}
.ReactModal__Overlay{
    z-index: 21;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
#modalDelete{
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    padding: 0 !important;
}
.closeBtn {
    background-color: #E0830A;
    border: 1px solid #E0830A;
    
    color: #f3f3f3;
    font-size: 0.9rem;
    font-weight: 600;

    width: 100%;
    padding: 7px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closeBtn:hover{
    filter: brightness(0.9);
    transition: 0.3s;
}

/* Mobile */
@media(max-width: 426px){
    .portfolio{
        grid-template-columns: repeat(1, 1fr);
    }
    .portifolio-open button{
        padding: 8px 15px;
        font-size: 0.9rem;
    }
    #modalDelete{
        width: 90vw;
        height: 90vh;
    }
    .ReactModal__Content {
        inset: 20px 35px 0 0 !important;
    }
}