/* Entarda */
.introducao{
    background: linear-gradient(to right, #E0830A , #FF960C);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#developer, #design{
    font-size: 13.2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase;
    width: 9.5ch;
    height: 31%;
}

#developer      {color: #C37815;}
#design         {color: #E3AA5F;}
#developer span {color: #E3AA5F;}
#design    span {color: #C37815;}

.list-questions button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to right, #E0830A , #FF960C);
    border: none;
    border-radius: 10px;

    color: #f3f3f3;
    font-weight: 500;

    padding: 20px 60px;
}
.list-questions svg {

}