/* Entarda */
.introducao{
    background: linear-gradient(to right, #E0830A , #FF960C);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#developer, #design{
    font-size: 13.2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    text-transform: uppercase;
    width: 9.5ch;
    height: 31%;
}

#developer      {color: #C37815;}
#design         {color: #E3AA5F;}
#developer span {color: #E3AA5F;}
#design    span {color: #C37815;}

.aboutMe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 30px 0;
    background: linear-gradient(to right, #E0830A , #FF960C);
}

.aboutMe img{
    width: 400px;
    height: 450px;

    border-radius: 2px;
    border: 2px solid #C37815;
    box-shadow: 2px 2px 25px #E3AA5F;
}
.aboutMe div{
    width:40%;
}
.aboutMe h2{
    color: #C37815;
    font-weight: 700;
    letter-spacing: 5px;
    font-size:6rem;
    text-align: left;

    margin-bottom: 5px;
}
.aboutMe span{
    color: #ffd59f;
}
.aboutMe p{
    color: #ffd59f;
    width: 96%;
    justify-content: center;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
}
.aboutMe a{
    color: #C37815;
    background-color: #ffd59f;
    padding: 0 10px;
}