/* Lista das perguntas frequentes */
.list-questions {
  height: fit-content;
  width: 100%;
  margin: 50px 0;
}
.questions, .duvida{
  max-width: 550px;
}
.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.questions button, #modalQuestion button {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: linear-gradient(to right, #E0830A , #FF960C);
  border: none;

  color: #f3f3f3;
  font-weight: 400;
  font-size: 1rem;

  cursor: pointer;
}
.questions button {
  width: 85%;
  height: 20%;
  border-radius: 10px;
  padding: 10px 20px;
}
.enviar-duvida {
  background: linear-gradient(to right, #E0830A , #FF960C);
  border: 3px solid linear-gradient(to right, #E0830A , #FF960C);
  color: #f3f3f3;

  border-radius: 7px;
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enviar-duvida h3{
  font-weight: 500;
  font-size: 1.2rem;
  text-align: left;
}
.enviar-duvida p{
  font-weight: 300;
  text-align: left;
  font-size: 1rem;

  margin: 5px 0 20px 0;
}
.enviar-duvida svg{
  margin-top: -15px;
}
.enviar-duvida textarea, .enviar-duvida input{
  background-color: #C37815;
  color: #f3f3f3;

  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #C37815;
  border-radius: 5px;
}

.enviar-duvida input {
  margin: 10px 0;
}
.enviar-duvida input::placeholder, .enviar-duvida textarea::placeholder{color: #fee7c9;}
.enviar-duvida textarea:focus, .enviar-duvida input:focus{
  overflow: auto;
  outline: none;
  resize: none;

  border: 2px solid #E3AA5F;
}
.enviar-duvida button {
  background-color: #fee7c9;
  border: 1px solid #fee7c9;
  border-radius: 5px;

  color: #C37815;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;

  cursor: pointer;
  width: 100%;
  padding: 8px;

  transition: 0.3s;
}
.enviar-duvida button:hover{
  filter: brightness(0.9);
  transition: 0.3s;
}
.modalQuestionDiv .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;

  z-index: 21;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* Modal */
#modalQuestion {
  width: 40vw;
  height: 35vh;
  border-radius: 10px;

  margin: 10% auto;
  align-items: center;
  padding: 0 !important;

  animation: flip 1s;
}
#modalQuestion button {
  width: 100%;
  height: 100%;
  padding: 0;
}
#modalQuestion button p {
  width: 80%;
  text-align: justify;
  margin: 20px 0;
}


@keyframes flip {
    from{
        transform: perspective(2500px) rotateX(100deg);
    }
    to{
        transform: perspective(2500px) rotateX(0);
    }
}

/* Mobile */
@media(max-width: 426px){
    .enviar-duvida{
        width: 85%;
        margin: 0 auto;
    }
    #modalQuestion {
        position: relative !important;
        width: 90vw;
        height: fit-content;
    }
    #modalQuestion button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
